<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <ul>
        <li><h1><b>TODO DETAILS</b></h1></li>
        <li>
            <h3>Todo name here</h3>
            <p>Todo description here</p>
            <a href="/"><span class="btn btn-primary">Edit</span></a>
            <a href="/"><span class="btn btn-primary">Delete</span></a>
        </li>
    </ul>
</body>
</html>